{
    "presets": ["es2015","react"],
    "plugins": [
        "transform-runtime",
        "import",
        {
          "style": "../styles", 
          "libraryDirectory": "", 
          "libraryName": "material-ui" 
        }
    ]
}